@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    .header .navbar {
        right: 2rem;
    }
    .header .login-form {
        right: 2rem;
    }
    #search-btn {
        display: inline-block;
    }
    .header .search-form {
        position: absolute;
        top: 115%;
        right: 5%;
        background: var(--bg-color-1);
        border-radius: 0.5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform: scale(0);
        transform-origin: top right;
    }
    .header .search-form.munna {
        transform: scale(1);
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .review .review-slider .slide p {
        padding: 0.7rem 0;
        line-height: 1.5;
    }
    .contact form .inputBox input {
        width: 100%;
    }
}
@media (max-width: 350px) {
    .header .icons div {
        height: 4rem;
        flex-basis: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
        background: var(--bg-color-2);
        color: var(--text-color-1);
        cursor: pointer;
        text-align: center;
    }
}
